In [60]:
import requests
from bs4 import BeautifulSoup
import re

In [295]:
req = requests.get("https://www.cricbuzz.com/profiles/6326/kane-williamson")

In [296]:
soup= BeautifulSoup(req.content,"html.parser")

In [297]:
tags=soup.find_all('div',class_= "cb-col cb-col-60 cb-lst-itm-sm")
name=str(soup.find_all('h1',class_="cb-font-40")[0])

In [298]:
age=str(tags[0])
birthPlace=str(tags[1])
role=str(tags[2])
batStyle=str(tags[3])
bowlStyle=str(tags[4])
teams=str(tags[-1])

In [299]:
result = re.search('>(.*)<', name)
playerName=result.group(1)

In [300]:
playerAge=int(age[age.find("years")-3:age.find("years")-1])

In [301]:
birthPlace

'<div class="cb-col cb-col-60 cb-lst-itm-sm"> Tauranga </div>'

In [302]:
result = re.search('>(.*)<', birthPlace)
playerBirthPlace=result.group(1)[1:-2]

In [303]:
playerBirthPlace

'Taurang'

In [304]:
role

'<div class="cb-col cb-col-60 cb-lst-itm-sm"> Batsman </div>'

In [305]:
result = re.search('>(.*)<', role)
playerRole=result.group(1)[1:-1]

In [306]:
playerRole

'Batsman'

In [307]:
batStyle

'<div class="cb-col cb-col-60 cb-lst-itm-sm"> Right Handed Bat </div>'

In [308]:
result = re.search('>(.*)<', batStyle)
playerBatStyle=result.group(1)[1:-1]

In [309]:
playerBatStyle

'Right Handed Bat'

In [310]:
bowlStyle

'<div class="cb-col cb-col-60 cb-lst-itm-sm"> Right-arm offbreak </div>'

In [311]:
result = re.search('>(.*)<', bowlStyle)
playerBowlStyle=result.group(1)[1:-1]

In [312]:
playerBowlStyle

'Right-arm offbreak'

In [313]:
teams

'<div class="cb-col cb-col-60 cb-lst-itm-sm"> New Zealand, Gloucestershire, Yorkshire, Northern Knights, Sunrisers Hyderabad, New Zealand A, Barbados Royals, Edmonton Royals, Birmingham Phoenix, Team Williamson </div>'

In [314]:
result = re.search('>(.*)<', teams)
playerTeams=result.group(1)[1:-1]

In [315]:
playerTeams

'New Zealand, Gloucestershire, Yorkshire, Northern Knights, Sunrisers Hyderabad, New Zealand A, Barbados Royals, Edmonton Royals, Birmingham Phoenix, Team Williamson'

In [316]:
print(playerName)
print(playerAge)
print(playerBirthPlace)
print(playerRole)
print(playerBatStyle)
print(playerBowlStyle)
print(playerTeams)

Kane Williamson
31
Taurang
Batsman
Right Handed Bat
Right-arm offbreak
New Zealand, Gloucestershire, Yorkshire, Northern Knights, Sunrisers Hyderabad, New Zealand A, Barbados Royals, Edmonton Royals, Birmingham Phoenix, Team Williamson

In [317]:
numtags=soup.find_all('td',class_= "text-right")

In [318]:
numtags

[<td class="cb-plyr-tbody text-right">85</td>,
 <td class="text-right">148</td>,
 <td class="text-right">14</td>,
 <td class="text-right">7230</td>,
 <td class="text-right">251</td>,
 <td class="text-right">53.96</td>,
 <td class="text-right">13967</td>,
 <td class="text-right">51.76</td>,
 <td class="text-right">24</td>,
 <td class="text-right">4</td>,
 <td class="text-right">33</td>,
 <td class="text-right">798</td>,
 <td class="text-right">17</td>,
 <td class="cb-plyr-tbody text-right">151</td>,
 <td class="text-right">144</td>,
 <td class="text-right">14</td>,
 <td class="text-right">6174</td>,
 <td class="text-right">148</td>,
 <td class="text-right">47.49</td>,
 <td class="text-right">7551</td>,
 <td class="text-right">81.76</td>,
 <td class="text-right">13</td>,
 <td class="text-right">0</td>,
 <td class="text-right">39</td>,
 <td class="text-right">564</td>,
 <td class="text-right">49</td>,
 <td class="cb-plyr-tbody text-right">67</td>,
 <td class="text-right">65</td>,
 <td class="text-right">8</td>,
 <td class="text-right">1805</td>,
 <td class="text-right">95</td>,
 <td class="text-right">31.67</td>,
 <td class="text-right">1445</td>,
 <td class="text-right">124.91</td>,
 <td class="text-right">0</td>,
 <td class="text-right">0</td>,
 <td class="text-right">13</td>,
 <td class="text-right">182</td>,
 <td class="text-right">41</td>,
 <td class="cb-plyr-tbody text-right">63</td>,
 <td class="text-right">62</td>,
 <td class="text-right">15</td>,
 <td class="text-right">1885</td>,
 <td class="text-right">89</td>,
 <td class="text-right">40.11</td>,
 <td class="text-right">1436</td>,
 <td class="text-right">131.27</td>,
 <td class="text-right">0</td>,
 <td class="text-right">0</td>,
 <td class="text-right">17</td>,
 <td class="text-right">165</td>,
 <td class="text-right">56</td>,
 <td class="cb-plyr-tbody text-right">85</td>,
 <td class="text-right">67</td>,
 <td class="text-right">2151</td>,
 <td class="text-right">1207</td>,
 <td class="text-right">30</td>,
 <td class="text-right">4/44</td>,
 <td class="text-right">4/44</td>,
 <td class="text-right">3.37</td>,
 <td class="text-right">40.23</td>,
 <td class="text-right">71.7</td>,
 <td class="text-right">0</td>,
 <td class="text-right">0</td>,
 <td class="cb-plyr-tbody text-right">151</td>,
 <td class="text-right">65</td>,
 <td class="text-right">1467</td>,
 <td class="text-right">1310</td>,
 <td class="text-right">37</td>,
 <td class="text-right">4/22</td>,
 <td class="text-right">4/22</td>,
 <td class="text-right">5.36</td>,
 <td class="text-right">35.41</td>,
 <td class="text-right">39.65</td>,
 <td class="text-right">0</td>,
 <td class="text-right">0</td>,
 <td class="cb-plyr-tbody text-right">67</td>,
 <td class="text-right">12</td>,
 <td class="text-right">118</td>,
 <td class="text-right">164</td>,
 <td class="text-right">6</td>,
 <td class="text-right">2/16</td>,
 <td class="text-right">2/16</td>,
 <td class="text-right">8.34</td>,
 <td class="text-right">27.33</td>,
 <td class="text-right">19.67</td>,
 <td class="text-right">0</td>,
 <td class="text-right">0</td>,
 <td class="cb-plyr-tbody text-right">63</td>,
 <td class="text-right">2</td>,
 <td class="text-right">18</td>,
 <td class="text-right">31</td>,
 <td class="text-right">0</td>,
 <td class="text-right">0/7</td>,
 <td class="text-right">0/7</td>,
 <td class="text-right">10.33</td>,
 <td class="text-right">0.0</td>,
 <td class="text-right">0.0</td>,
 <td class="text-right">0</td>,
 <td class="text-right">0</td>]

In [319]:
numtags[68]

In [320]:
numtags[16]

In [321]:
numtags[-20]

In [322]:
runs=str(numtags[16])
wickets=str(numtags[-20])

In [323]:
result = re.search('>(.*)<', runs)
playerOdiRuns=result.group(1)
result = re.search('>(.*)<', wickets)
playerOdiWickets=result.group(1)

In [324]:
playerOdiWickets

'6'

In [325]:
playerOdiRuns

'6174'

In [326]:
print(playerName)
print(playerAge)
print(playerBirthPlace)
print(playerRole)
print(playerBatStyle)
print(playerBowlStyle)
print(playerTeams)
print(playerOdiWickets)
print(playerOdiRuns)

Kane Williamson
31
Taurang
Batsman
Right Handed Bat
Right-arm offbreak
New Zealand, Gloucestershire, Yorkshire, Northern Knights, Sunrisers Hyderabad, New Zealand A, Barbados Royals, Edmonton Royals, Birmingham Phoenix, Team Williamson
6
6174